In [249]:
path = "~/Bureau/Master_data_science/DATAS_M2/Informatique_charbonel_Marie/DATA_Marie/Projet_Map_Reduce/soc-Epinions1.txt"
import pandas as pd
import numpy as np 
from tqdm import tqdm
import time

In [248]:
df = pd.read_csv(path,header=None,sep='\t')
df.head()

   0  1
0  0  4
1  0  5
2  0  7
3  0  8
4  0  9

In [236]:
gbby_source = df.groupby([0]) #Méthode groupe by pour les noeuds/ page web
data = gbby_source.count() # donne pour chaque page le nombre de liens vers d'autres pages
c=0.15
data['W0'] = [1/len(data)]*len(data) #Initialisation des poids
data.rename(columns={1:'n_i'},inplace=True) #N_i est le nombre de pages filles associées à la page i
data

       n_i        W0
0
0      139  0.000017
1      320  0.000017
2       54  0.000017
3       41  0.000017
4       76  0.000017
...    ...       ...
75883    1  0.000017
75884    1  0.000017
75885    2  0.000017
75886    1  0.000017
75887    1  0.000017

[60341 rows x 2 columns]

In [237]:
t0 = time.time()

for k in tqdm(range(1,11)):
    W = []
    for i in tqdm(data.index):
        select_i = df[df[1]==i] # Trouve toute les pages parentes j de i  
        select_i

        j_to_i = data.loc[list(select_i[0])]  
        #Donner la liste des page j qui pointent vers i avec list(select_i[0])
        #Extraire les lignes de data qui nous permettent de calculer l'étape k+1

        W_i = c*data[f'W0'][i] +(1-c)*(np.array(j_to_i[f'W{k-1}'])/np.array(j_to_i[f'n_i'])).sum() #Calcul de W_i_(k+1)

        W.append(W_i) # Stockage pour l'indice i
    data[f'W{k}'] = W # Création d'une nouvelle colonne

print(time.time()-t0)

100%|██████████| 60341/60341 [01:02<00:00, 960.63it/s]
100%|██████████| 60341/60341 [01:02<00:00, 958.29it/s]
100%|██████████| 60341/60341 [01:02<00:00, 970.79it/s]
100%|██████████| 60341/60341 [01:01<00:00, 988.21it/s]
100%|██████████| 60341/60341 [01:01<00:00, 979.27it/s]
100%|██████████| 60341/60341 [01:02<00:00, 969.02it/s]
100%|██████████| 60341/60341 [01:03<00:00, 950.37it/s]
100%|██████████| 60341/60341 [01:04<00:00, 934.35it/s]
100%|██████████| 60341/60341 [01:09<00:00, 865.11it/s]
100%|██████████| 60341/60341 [01:08<00:00, 881.30it/s]
100%|██████████| 10/10 [10:39<00:00, 63.93s/it]

In [240]:
data.index.name = 'pages'
data

,n_i,W0,W1,W2,W3,W4,W5,W6,W7,W8,W9,W10
pages,,,,,,,,,,,,
0,139,0.000017,0.000570,0.000766,0.000793,0.000820,0.000837,0.000847,0.000852,0.000854,0.000854,0.000853
1,320,0.000017,0.000705,0.001073,0.001031,0.001054,0.001060,0.001066,0.001068,0.001069,0.001068,0.001066
2,54,0.000017,0.000167,0.000227,0.000284,0.000311,0.000324,0.000333,0.000337,0.000339,0.000340,0.000340
3,41,0.000017,0.000035,0.000056,0.000058,0.000060,0.000061,0.000062,0.000063,0.000063,0.000063,0.000063
4,76,0.000017,0.000081,0.000159,0.000189,0.000218,0.000230,0.000239,0.000243,0.000246,0.000247,0.000248
...,...,...,...,...,...,...,...,...,...,...,...,...
75883,1,0.000017,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
75884,1,0.000017,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
75885,2,0.000017,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
75886,1,0.000017,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
75887,1,0.000017,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002

In [260]:
#data[data['n_i']>200]['W10'].mean()
#data[data['n_i']<50]['W10'].mean()


data['W10'].sort_values(ascending = False)

0.8509226141900904